{% extends "base.html" %}
{% block title %}Verification{% endblock %}

{% block body %}

    <div class="container">
        <h2>Anon Verification</h2>
        <hr>

        <form method="post">
            {% for categ, msg in get_flashed_messages(with_categories=True) %}
            <div class="flash">
                <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
            </div>
            {% endfor %}

            <input type="email" class="u-full-width" placeholder="Enter email to receive registration link" name="email">
            <input type="submit" value="Send" class="button-primary">
        </form>
    </div>

{% endblock %}