{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}

{% block body %}

    <div class="container">
        <h2 style="text-align: center;font-weight: bolder;">Login</h2>
        <hr>

        <form method="post">
           {{ form.hidden_tag() }}

            {% for categ, msg in get_flashed_messages(with_categories=True) %}
            <div class="flash">
                <li style="list-style: none;" class="{{ categ }}">{{ msg }}</li>
            </div>
            {% endfor %}

            <style>
                form{
                    background-color: rgb(147, 165, 165);
                    padding: 50px;
                    margin: 0px auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                }
            </style>

            <div class="row">
                <div class="column">
                    {{ form.user_id() }}
                </div>
            </div>
            <div class="row">
                <div class="column">
                    {{ form.password() }}
                </div>
            </div>
            {{ form.login(class='button-primary') }}
        </form>
    </div>

{% endblock %}